[Unit]
Description=CRANIX SALT Event Watcher
Wants=basic.target
After=basic.target network.target syslog.target salt-master.service
PartOf=salt-master.service

[Service]
Restart=on-failure
ExecStart=/usr/sbin/crx_salt_event_watcher.py

[Install]
WantedBy=multi-user.target

