[Unit]
Description=Set the default access state in the rooms
DefaultDependencies=no
After=firewalld.service cranix-api.service cephalix-api.service

[Service]
Type=oneshot
ExecStartPre=/usr/share/cranix/tools/wait-for-api.sh
ExecStart=/usr/sbin/crx_manage_room_access.py --all --set_defaults
StandardOutput=journal

[Install]
WantedBy=sysinit.target

