<html>
  <head>
    <title>CRANIX</title>
  </head>
<body bgcolor="#ffffff">
  <noscript>
    <p align="center"><font size="+1"><b>Bitte aktivieren Sie JavaScript!</b></font></p>
    <p align="center"><font size="+1"><b>Please activate JavaScript!</b></font></p>
    <p align="center"><font size="+1"><b>Kérem kapcsolja be böngészõjében a JavaScript támogatását!</b></font></p>
  </noscript>
  <script>
    {
        if (window.location.protocol != "https:") {
                self.location.href="https://schoolserver.#DOMAIN#";
        }
    }
  </script>
</body>
</html>
