[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Terminal
Exec=xterm
Icon=utilities-terminal
Path=
Terminal=false
StartupNotify=false
GenericName[POSIX]=Console
