[Unit]
Description=OSS SALT Event Watcher
Wants=basic.target
After=basic.target network.target syslog.target salt-master.service

[Service]
Restart=on-failure
ExecStart=/usr/sbin/oss_salt_event_watcher.py

[Install]
WantedBy=multi-user.target

